mixin banner()
  .banner
    div.banner-text-container
      h1.banner-title.animate-pulse 666
      h3.banner-desc  312321321
    img(src="./images/banner1.png")
    .banner-indicator
      span.banner-indicator-circle
      span.banner-indicator-circle
      span.banner-indicator-circle
