footer(class='bg-primary')
  .max-w-7xl.mx-auto.px-2(class='sm:px-6 lg:px-8')
    .flex.flex-col.space-y-12.py-12
      div.text-white.flex.justify-center.margin-auto.flex.space-x-32
        span 地址：中国山东省青岛市市南区某某中路20号
        span 邮箱：1370XXX171@qq.com
        span 电话：0591-88888888
      div.text-white.flex.justify-center.items-center.margin-auto
        img(class="h-[50px] w-[50px]" src="./images/qrcode.png" alt="qrcode")
        span.ml-3 Copyright © 2009 - 2022 Cld , All Rights Reserved 某某网络科技有限公司 版权所有  陕ICP备xxxxxxx号
