footer(class='bg-[#FF350D]')
  .max-w-7xl.mx-auto.px-2(class='sm:px-6 lg:px-8')
    div.text-white.flex.justify-center.margin-auto.flex.space-x-32
      span 地址：中国山东省青岛市市南区某某中路20号
      span 邮箱：1370XXX171@qq.com
      span 电话：0591-88888888 

