include menu.pug
include banner.pug

mixin header(hasBanner)
  if(hasBanner)
    header.relative
      nav.absolute.left-0.right-0.z-50
        +menu()
      +banner()
  else
    header
      nav(class='bg-[#252429]')
        +menu()
