doctype html
html(lang="en")
  head 
    include head.pug
    block pagetitle
  body
    block body
    main.context
      block main
    include footer.pug
    script(src="./js/wow.min.js")
    script(src="./js/main.js")
    block script
