mixin maintitle(data)
  .flex.flex-col.items-center(class="mt-[36px] mb-[54px]")
    span.block.select-none.text-center(class="text-outline")= data.eng
    h1.-mt-16.text-center.text-5xl.text-black= data.title
    span.block.bg-primary.mt-8.w-32(class="h-1.5")
