mixin maintitle(data, black)
  .flex.flex-col.items-center
    if black
      span.block.select-none.text-center(class="text-outline")= data.eng
      h1.-mt-6.text-center.text-2xl.text-black(class="md:-mt-10")= data.title
    else 
      span.block.select-none.text-center(class="text-outline text-outline-black")= data.eng
      h1.-mt-6.text-center.text-2xl.text-white(class="md:-mt-10")= data.title
    span.block.bg-primary.mt-2.w-16(class="h-1 md:w-20")
