mixin service()
    .left(class="float-left")
      span.block.select-none.text-center(class="text-outline") Service scope
      h1.-mt-16.text-center.text-5xl.text-black 服务范围
    .right(class="float-right")
        .flex(class="items-baseline justify-end")
            img(src="./images/service1.png" alt="pic" class="w-64 h-64")
            img(src="./images/service2.png" alt="pic" class="w-[700px] h-[600px] ml-4")
        .flex.mt-4.justify-end
            img(src="./images/service3.png" alt="pic" class="w-[658px] h-[484px]")
            img(src="./images/service4.png" alt="pic" class="w-[460px] h-[300px] ml-4")
    div(class="clear-both")