mixin service()
    .service(class="md:mb-[267px] mb-[300px]")
        .max-w-7xl.mx-auto(class="md:px-10")
            .w-full(class="md:relative")
                .left(class="md:absolute pt-4  md:pt-0 left-0 top-16 wow fadeIn")
                    span.block.select-none.text-center(class="text-outline") Service scope
                    h1.-mt-10.text-center.text-2xl.text-black 服务范围
                    .service-bg(class="text-[14px] wow fadeIn" data-wow-delay="0.2s")
                        p(class="text-[#888] mb-14 wow fadeInRight" data-wow-delay="0.5s") 依托百度政务混合云，汇聚城市管理及公安等政务领域的自有数据及互联网公开数据，基于百度大数据多年积累的行业模型及实战经验，提供从数据整合治理到分析挖掘的一站式大数据解决方案，助力智慧政务新时代。
                        p(class="text-[#888] mb-14 wow fadeInRight" data-wow-delay="0.8s") 全渠道零售方案包括B2C、O2O、B2B的场景，提供APP/小程序，支持对接饿了么、美团等第三方外卖平台，基于阿里巴巴多年沉淀的业务中台技术，建立商品、会员、交易、营销等共享服务中心，实现全渠道数据的共享和一致，帮助零售商打造线上、线下无差别的全渠道销售能力。
                .right(class="md:absolute right-0 top-[108px]")
                    .flex(class="items-baseline justify-end")
                        img(src="./images/service1.png" alt="pic" class="md:w-40 md:h-40 w-[82px] h-[80px] wow fadeIn")
                        img(src="./images/service2.png" alt="pic" class="md:w-[437.5px] md:h-[375px] md:ml-4 ml-2 w-[233px] h-[193px] wow fadeIn")
                    .flex.justify-end(class="md:mt-4 mt-2")
                        img(src="./images/service3.png" alt="pic" class="md:w-[411px] md:h-[302.5px] w-[218px] h-[158px] wow fadeIn")
                        img(src="./images/service4.png" alt="pic" class="md:w-[287.5px] md:h-[187.5px] md:ml-4 ml-2 w-[154px] h-[98px] wow fadeIn")
