mixin teacher(data)
    .relative 
        img(src=data.img, alt="teacher pic" class="hover:scale-95 transition")
        .absolute.flex.flex-col.bottom-12.left-0.right-0.text-white.items-center
            h3.text-5xl.text-center= data.name
            span.mt-6= data.desc
            a.flex.items-center.mb-8.mt-12(href="#") 
                img(src="./images/arrow.svg", alt="->")
                span.ml-4 More information