@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h-25 {
    height: 6.25rem;
  }
  .gap-16 {
    gap: 4rem;
  }
  .img-card {
    width: 100%;
  }
  .text-outline {
    font-size: 5rem;
    line-height: 1.25em;
    color: transparent;
    text-stroke: 1px #d9d9d9;
    -webkit-text-stroke: 1px #d9d9d9;
    -moz-text-stroke: 1px #d9d9d9;
  }
  .text-outline-black {
    text-stroke: 1px #353535;
    -webkit-text-stroke: 1px #353535;
    -moz-text-stroke: 1px #353535;
  }
}

.context {
  min-height: calc(100vh - 230px);
}

.service {
  height: 623px;
  background: #f6f6f6;
}
.service-bg {
  width: 570px;
  height: 697.5px;
  padding: 46.25px 53px 0 77.5px;
  background-position: center center;
  background-image: url("../images/service-bg.png");
  background-size: 100% 100%;
}

@layer components {
  .banner {
    @apply bg-black relative h-[500px];
  }
  .banner-text-container {
    @apply absolute text-white left-0 right-0 bottom-0;
  }
  .banner-slide {
    @apply relative h-[500px]
  }

  .banner-img {
    @apply absolute bg-cover bg-center left-0 top-0 w-full h-full bg-no-repeat;
  }

  .banner-title {
    @apply text-5xl font-semibold;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .banner-mask {
    @apply bg-black absolute left-0 top-0 w-full h-full z-10 transition ease-in duration-1000;
  }

  .banner-desc {
    @apply text-xl pt-[28px] px-[130px];
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .banner-indicator {
    @apply absolute flex flex-col space-y-3 left-12 bottom-1/2 z-20;
  }
  .banner-indicator-circle {
    width: 12px;
    height: 12px;
    border-width: 2px;
    border-color: rgba(177, 177, 177, 0.5);
    border-radius: 50%;
  }
}
