extends _partial/layout.pug
include _partial/main-title.pug
include _partial/header.pug
include _partial/card.pug
include _partial/teacher.pug
include _partial/bg-info.pug
include _partial/service.pug

block pagetitle
    title 企业站
block body
  +header(false)
block main
    section
        +maintitle({title: '关于我们', eng: 'About us'}, true)
