extends _partial/layout.pug
include _partial/main-title.pug
include _partial/header.pug
include _partial/card.pug
include _partial/teacher.pug
include _partial/bg-info.pug
include _partial/service.pug

block pagetitle
    title 企业站
block body
  +header(true)
block main
    section
        +service()
    section 
        +bginfo('企业文化', ['作为中国专业的企业文化咨询公司，我们在生存和发展的历程中，也形成了自己经营管理个性和文化，我们的运营和发展都基于对这些文化涵盖的信念、信条和原则持之以恒、不折不扣地执行，所有公司的成员的所有行为均需与这些标准和原则保持高度统一。', '我们相信，企业的战略可以改变，领导可以更换，甚至文化的表现也要与时俱进，总之一切都可以调整，唯一能保持并引领我们的，只有我们的文化核心。只有信念的坚持才能带来企业的持续增长，只有统一的意志才能锻炼出优秀的队伍，总之只有文化才能使我们长青。']) 
    section
        +maintitle({title: '团队介绍', eng: 'Team to introduce'}, true)
        .columns-1.gap-0.mt-14(class="md:columns-3")
            +teacher({name: 'Jon Smith', desc: '特级教师，从事教育工作10年', img: './images/teacher1.png'})
            +teacher({name: 'Merri Bound' , desc: '特级教师，从事教育工作10年', img: './images/teacher2.png'})
            +teacher({name: 'Samuel Fredman', desc: '特级教师，从事教育工作10年', img: './images/teacher3.png'})
    section.bg-secondary.py-8
        +maintitle({title: '新闻动态', eng: 'news and trends'}, false)
        .grid.grid-cols-2.max-w-full.mx-auto.px-4.mt-14.gap-y-8(class="gap-x-3.5 md:grid-cols-4 md:gap-x-16 md:px-2 lg:px-16 lg:mx-16")
            +card({url: './images/card.png', title: '2022百度AI大会前夕，解读百度大脑的半年“豹变”', content: 'Facebook为未来的VR社交打造了一款逼真的虚拟头像系统，该系统的特点是，利用数百颗摄像头对人脸进行动作捕捉，并能生成与人脸相似度很高的虚拟头像，这些头像还能模仿人脸的大量表情。'},false)
            +card({url: './images/card.png', title: '创投早报｜美国商业化核聚变创企获投；音乐版权公司完成融资', content: '举办第六届中华印制大奖颁奖典礼、亚洲印刷展览联盟会议、国家主题日等多场专业、先进、丰富的同期活动，全面把握产业趋势与动态，共同探讨印刷业现状和未来。'},false)
            +card({url: './images/card.png', title: '【千龙网】广告行业标准指导性意见将出台', content: ' 国际印刷工业发展论坛由中国印刷及设备器材工业协会主办，始创于2005年，四年一届，已成功举办三届，每届论坛选择5-6个发达国家和5-6个发展中国家印刷协会的主席或总裁发表演讲'},false)
            +card({url: './images/card.png', title: '支持触觉反馈，Manus VR推出全新Prime VR手套', content: '第三届国际印刷工业发展论坛（Forum-PI 2013）于2013年5月13日在北京举行，主办方邀请了来自中国、美国、德国、英国、意大利、日本、澳大利亚、俄罗斯、印度、印尼、南非、巴西、'},false)
