extends _partial/layout.pug
include _partial/main-title.pug
include _partial/header.pug
include _partial/card.pug
include _partial/teacher.pug
include _partial/bg-info.pug
include _partial/service.pug

block pagetitle
    title 新闻-企业站
block body
  +header(false)
block main
    section.py-8.max-w-7xl.mx-auto(class="md:px-10")
        +maintitle({title: '新闻列表页', eng: 'News list page'}, true)
        #news.grid.grid-cols-2.max-w-full.mx-auto.px-4.mt-8.gap-y-8(class="gap-x-3.5 md:grid-cols-4 md:gap-x-10 md:px-24")
            +card({url: './images/card.png', lazy: './images/lazy.png', title: '2022百度AI大会前夕，解读百度大脑的半年“豹变”', content: 'Facebook为未来的VR社交打造了一款逼真的虚拟头像系统，该系统的特点是，利用数百颗摄像头对人脸进行动作捕捉，并能生成与人脸相似度很高的虚拟头像，这些头像还能模仿人脸的大量表情。'},true)
        include _partial/pagination.pug
block script
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="./js/news.js")
